
@{
    ViewBag.Title = "DaGuiYeuCau";
    Layout = "~/Views/Shared/_LayoutKhachSan.cshtml";
}

<div style="text-align:center">
    <p style="line-height:50px; font-size:50px;">
        <span style="color:rgb(34, 34, 34); font-family:arial,sans-serif; font-size:14px">Thông tin của bạn đã được gửi thành công. Chúng tôi sẽ liên hệ lại với bạn trong vòng 24 giờ!&nbsp;</span>
    </p>
</div>

