@using DACN_Web_KhachSan.Models;
@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_LayoutKhachSan.cshtml";
    TAIKHOANKH kh = (TAIKHOANKH)Session["kh"];
}

<section class="d-block">
    <div class="container-fluid p-0 position-relative">
        <div>
            <img class="w-100" src="~/Image/bg-lienhe.jpg" alt="Alternate Text" />
        </div>
        <div class="text-center text-white position-absolute w-100 top-50 start-50 translate-middle">
            <h1 style="font-size:68px">LIÊN HỆ</h1>
        </div>
    </div>
</section>

<section class="d-block">
    <div style="padding: 100px 0 0 0">
        <div class="container">
            <div class="text-center mb-5">
                <h2 class="sec-title">KẾT NỐI VỚI CHÚNG TÔI</h2>
            </div>
            <div class="row">
                <div class="col-4">
                    <div class="" style="padding: 40px; background-color:white; border: 5px solid #f3f3f3; text-align:center">
                        <div class="mb-3">
                            <span style="display: inline-block; padding: 0.5em; font-size: 36px; line-height: 1; border: 1px solid #e4e1e1; border-radius: 50%; width: 74px; height: 74px; color: #cf9d6c;">
                                <i class="fas fa-location-arrow"></i>
                            </span>

                        </div>
                        <div>
                            <h4>Địa chỉ</h4>
                            <div>
                                20 Trần Bình Trọng, Phường 5, Thành phố Đà Lạt, Lâm Đồng
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="" style="padding: 40px; background-color:white; border: 5px solid #f3f3f3; text-align:center">
                        <div class="mb-3">
                            <span style="display: inline-block; padding: 0.5em; font-size: 36px; line-height: 1; border: 1px solid #e4e1e1; border-radius: 50%; width: 74px; height: 74px; color: #cf9d6c;">
                                <i class="fas fa-envelope"></i>
                            </span>

                        </div>
                        <div>
                            <h4>Email</h4>
                            <div>
                                info@webhotel.vn
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-4">
                    <div class="" style="padding: 40px; background-color:white; border: 5px solid #f3f3f3; text-align:center">
                        <div class="mb-3">
                            <span style="display: inline-block; padding: 0.5em; font-size: 36px; line-height: 1; border: 1px solid #e4e1e1; border-radius: 50%; width: 74px; height: 74px; color: #cf9d6c;">
                                <i class="fas fa-phone"></i>
                            </span>

                        </div>
                        <div>
                            <h4>Điện thoại</h4>
                            <div>
                                (016) 3667 0451
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="container-fluid">
        <iframe class="w-100" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3903.449793929032!2d108.42055257666725!3d11.943328906407768!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31716cd36d64fccb%3A0x11b32cb41f54c06e!2zMjAgVHLhuqduIELDrG5oIFRy4buNbmcsIFBoxrDhu51uZyA1LCBUaMOgbmggcGjhu5EgxJDDoCBM4bqhdCwgTMOibSDEkOG7k25nLCBWaeG7h3QgTmFt!5e0!3m2!1svi!2s!4v1700842567616!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
<section class="d-block" style="background-image:url(/Image/pattern.jpg)">
    <div style="padding: 50px 0 100px 0">
        <div class="container">
            <div class="m-auto w-50 mt-5">
                <form action="/Home/DaGuiYeuCau" method="post">
                    <h2 class="sec-title text-center mb-5">BẠN CÓ CÂU HỎI?</h2>
                    <div class="row">
                        @if (kh == null)
                        {
                            <div class="col-6">
                                <div class="">
                                    <label class="mb-2">GIỚI TÍNH*</label>
                                    <input class="form-control" type="text" name="name" value="" placeholder="Nam/Nữ" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="">
                                    <label class="mb-2">HỌ VÀ TÊN*</label>
                                    <input class="form-control" type="text" name="name" value="" placeholder="...Văn A" />
                                </div>
                            </div>

                            <div class="col-12">
                                <div class="mt-4 mb-4">
                                    <label class="mb-2">EMAIL*</label>
                                    <input class="form-control" type="text" name="name" value="" placeholder="Name@example.com" />
                                </div>
                            </div>

                            <div class="col-6">
                                <div class="">
                                    <label class="mb-2">ĐIỆN THOẠI*</label>
                                    <input class="form-control" type="text" name="name" value="" placeholder="0123456789" />
                                </div>
                            </div>
                            <div class="col-6">
                                <div class="">
                                    <label class="mb-2">QUỐC GIA</label>
                                    <input class="form-control" type="text" name="name" value="" placeholder="Quốc gia" />
                                </div>
                            </div>
                        }

                        <div class="col-12">
                            <div class="mt-4 mb-4">
                                <label class="mb-2">LỜI NHẮN</label>
                                <textarea cols="30" rows="5" class="form-control" placeholder="Gõ ở đây"></textarea>
                            </div>
                        </div>

                        <div class="col-12">
                            <button type="submit" class="btn btn-primary ps-4 pe-4 pt-2 pb-2">Gửi yêu cầu</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>

